:80 {
    log {
        output file /dev/null
        format json
    }

    # Global response headers
    header {
        -Server
        Location-Base {$URL_PREFIX:}
    }

    # Redirect the application root to the home page
    @root path {$URL_PREFIX:} {$URL_PREFIX:}/
    redir @root {$URL_PREFIX:}home 307

    # Home
    @path_user_home path {$URL_PREFIX:}home/*
    handle @path_user_home {
        uri strip_prefix {$URL_PREFIX:}home
        reverse_proxy localhost:9001
    }

    @path_user_home_no_slash path {$URL_PREFIX:}home
    redir @path_user_home_no_slash {path}/ 308

    # default healthcheck endpoint
    handle_path {$URL_PREFIX:}api {
        respond "OK" 200
    }

    import /etc/caddy/CaddyRoutes/*.caddy
}
