include-workspace-root=true
scripts.allow-build[]=@carbon/colors
scripts.allow-build[]=@carbon/feature-flags
scripts.allow-build[]=@carbon/grid
scripts.allow-build[]=@carbon/icon-helpers
scripts.allow-build[]=@carbon/icons-react
scripts.allow-build[]=@carbon/layout
scripts.allow-build[]=@carbon/motion
scripts.allow-build[]=@carbon/react
scripts.allow-build[]=@carbon/styles
scripts.allow-build[]=@carbon/themes
scripts.allow-build[]=@carbon/type
scripts.allow-build[]=@carbon/utilities
scripts.allow-build[]=@ibm/plex
scripts.allow-build[]=@parcel/watcher
scripts.allow-build[]=esbuild
