scripts.allowBuild[]=@carbon/colors
scripts.allowBuild[]=@carbon/feature-flags
scripts.allowBuild[]=@carbon/grid
scripts.allowBuild[]=@carbon/icon-helpers
scripts.allowBuild[]=@carbon/icons-react
scripts.allowBuild[]=@carbon/layout
scripts.allowBuild[]=@carbon/motion
scripts.allowBuild[]=@carbon/react
scripts.allowBuild[]=@carbon/styles
scripts.allowBuild[]=@carbon/themes
scripts.allowBuild[]=@carbon/type
scripts.allowBuild[]=@carbon/utilities
scripts.allowBuild[]=@ibm/plex
scripts.allowBuild[]=@parcel/watcher
scripts.allowBuild[]=esbuild
